/* CSS for options.html */

body {
    min-width: 340px;
    width: 100%;
    max-width: 100vw;

    overflow-y: scroll;
    background: url('../images/banner.jpg') no-repeat center fixed;
    background-size: cover;
}

#options-wrapper {
    max-width: 767px;
}

.blur {
    backdrop-filter: blur(6px);
}

.form-control,
.glass-outline {
    background-color: rgba(var(--bs-emphasis-bg-rgb), 50%);
}

[data-bs-theme='dark'] .glass-outline {
    border: 1px solid rgba(var(--bs-white-rgb), 15%);
    filter: drop-shadow(15px 15px 12px var(--bs-black));
}

[data-bs-theme='light'] .glass-outline {
    border: 1px solid rgba(var(--bs-black-rgb), 17.5%);
}
