name: "Build"

on:
  workflow_call:
    inputs: &inputs
      version:
        description: "Build Version"
        type: string
        default: "0.0.1"
  workflow_dispatch:
    inputs: *inputs

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node 24"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        run: |
          npm ci

      - name: "Update Manifest Version"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/update-json-value-action@v2
        with:
          values: ${{ inputs.version }}

      - name: "Debug Manifest"
        continue-on-error: true
        run: |
          cat -n manifest.json

      - name: "Build"
        run: |
          npm run build

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: web-ext-artifacts

      - name: "Upload to Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: web-ext-artifacts/*
